.flip-book {
  display: flex;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  background-size: cover;

  .page {
    padding: 20px;
    background-color: hsl(35, 55%, 98%);
    color: hsl(35, 35%, 35%);
    border: solid 1px hsl(35, 20%, 70%);
    overflow: hidden;

    .page-content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;

      .page-header {
        height: 30px;
        font-size: 100%;
        text-transform: uppercase;
        text-align: center;
      }

      .page-image {
        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }

      .page-text {
        flex-grow: 1;
        font-size: 80%;
        text-align: justify;
        margin-top: 10px;
        padding-top: 10px;
        border-top: solid 1px hsl(35, 55%, 90%);
      }

      .page-footer {
        height: 30px;
        border-top: solid 1px hsl(35, 55%, 90%);
        font-size: 80%;
        color: hsl(35, 20%, 50%);
        text-align: right;
      }
    }

    &.page-cover {
      background-color: hsl(35, 45%, 80%);
      color: hsl(35, 35%, 35%);
      border: solid 1px hsl(35, 20%, 50%);
      text-align: center;

      h2 {
        margin-top: 50%;
        font-size: 210%;
      }
    }
  }
}
